body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("./Images/131381-abstract-grey-and-white-polygon-background.jpg");
  background-size: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
  border-bottom: 1px solid grey;
  margin: auto;
}

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bold;
  background: #eee;
  padding: 10px;
  color: #7d7d7d !important;
}

main {
  margin: 125px 0;
}

.footer {
  height: 62px;
  border-top: 1px solid grey;
  margin-top: 3px;
  background: #f8f9fa;
  padding-top: 14px;
}

.wrapper {
  padding: 20px;
}

.img-thumbnail {
  width: auto;
  height: auto;
  overflow: auto;
  margin-bottom: 10px;
}

h1 {
  border-bottom: grey solid 1px;
  margin: 15px;
  color: #7d7d7d;
}

h2 {
  color: #7d7d7d;
  padding-top: 10px;
}

.container {
  background-color: #eee;
  width: 100%;
  border: 1px solid grey;
}

.list-group {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 58px;
}

.list-group-item {
  margin-bottom: 5px;
}

.nav-link {
  font-weight: bold;
  margin-left: 10px;
}

.navbar-toggler {
  margin-right: 5px;
}